block vars
	- var title = "Name project"
	- var author = "Name Author"
	
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		base(href="/")
		title= title
		meta(name="keywords", content="")
		meta(name="description", content="")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name='robots', content='all')

		meta(name="theme-color", content="#ffffff")
		meta(name="msapplication-TileColor", content="#ffffff")

		meta(property="og:url", content="/")
		meta(property="og:type", content="website")
		meta(property="og:title", content="[[*longtitle:default=`[[*pagetitle]] | [[++site_name]]`]]")
		meta(property="og:description", content="[[*description]]")
		meta(property="og:site_name", content="[[++site_name]]")

		block links
		link(rel="shortcut icon" href="./assets/img/favicon.ico")
		
		link(rel="stylesheet", href="./assets/css/vendor.min.css")
		link(rel="stylesheet", href="./assets/css/main.min.css")
	body
		header

		main
			block content

		footer
		script(src="./assets/js/vendor.min.js")
		script(src="./assets/js/main.min.js")